html,
body,
div[id="root"] {
    height: 100%;
}

body {
    margin: 0;
    overflow: hidden;
    font-family: "Montserrat", sans-serif;
    --primary-highlight-color: #ce96ff;
    --primary-text-color: #222831;
    --primary-background-color: #fff;
    --secondary-background-color: #393e46;
    --secondary-text-color: #eee;
    --light-text-color: #393e46;
}

h1,
h2 {
    font-family: "Karla", sans-serif;
}

div,
p {
    box-sizing: border-box;
}
p {
    margin: unset;
}

button,
input,
textarea {
    outline: none;
}

.tooltip {
    user-select: none;
}

.App {
    display: grid;
    grid-template-columns: 270px auto;
    grid-template-rows: auto;
    grid-template-areas: "sidebar main";
    height: 100%;
}

.dispatcher-alert {
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 10000;
    background-color: red;
    color: white;
    padding: 8px;
    border-radius: 4px;
    height: 40px;
    width: 40px;
}

.sidebar {
    grid-area: sidebar;
    color: var(--secondary-text-color);
    background-color: var(--secondary-background-color);
    overflow: auto;
}

.drawer {
    height: 100%;
    width: 260px;
}

.main {
    grid-area: main;
    color: var(--primary-text-color);
    background: var(--primary-background-color);
    overflow: auto;
}

.footer {
    height: 96px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
}

.footer .grade-buttons {
    padding-left: 64px;
    flex-grow: 1;
}
.footer .edit-button {
    flex-grow: 0;
}

@media only screen and (max-width: 540px) {
    .footer .grade-buttons {
        flex-grow: 0;
        padding-left: 0;
    }
}

.footer button {
    display: inline-block;
    border: none;
    box-shadow: none;
    height: 64px;
    width: 64px;
    margin: 16px 4px;
    color: var(--primary-text-color);
    background: none;
    font-size: 18px;
}

.footer button:hover {
    border-radius: 32px;
    background: var(--primary-highlight-color);
    color: var(--secondary-text-color);
}

@media only screen and (max-width: 350px) {
    .footer button {
        height: 48px;
        width: 48px;
        margin: 16px 4px;
        font-size: 16px;
    }
}

.learn-header {
    height: 50px;
    display: grid;
    grid-template-rows: 8px 13px auto 5px;
    grid-template-columns: 12px 24px 8px auto 44px;
    grid-template-areas: ". . . . ." ". . . bar ." ". icon . title ." ". . . . .";
}

.learn-header .review-deck-title {
    grid-area: title;
    vertical-align: middle;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
}

.learn-header .review-bar {
    grid-area: bar;
    margin-bottom: 10px;
    height: 6px;
    border-radius: 3px;
    background: rgb(0, 0, 0, 0.15);
}
.learn-header .review-bar .fill {
    height: 6px;
    border-radius: 3px;
    background: var(--primary-highlight-color);
}

.learn-header .icon {
    grid-area: icon;
    padding: 0;
    color: rgba(255, 255, 255, 0.8);
}

.learn-header .icon:hover {
    color: rgba(255, 255, 255, 0.4);
}

.card {
    width: 100%;
    min-height: calc(100% - 146px);
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.card .front,
.card .back {
    width: 100%;
    max-width: 600px;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card .front {
    border-bottom: 3px dashed var(--primary-text-color);
    padding-bottom: 32px;
}
.card .back {
    padding-top: 32px;
}

.card .back.hidden {
    color: rgba(0, 0, 0, 0.6);
    padding: 20px;
}

.card .back.hidden:hover {
    color: rgba(255, 255, 255, 0.6);
    background: var(--secondary-background-color);
}

.sidebar p,
a {
    font-size: 18px;
    line-height: 28px;
    padding: 7px 14px;
    display: block;
    text-decoration: none;
    letter-spacing: 0.03em;
}

.sidebar a svg {
    vertical-align: middle;
    margin-right: 8px;
}

.sidebar p.title {
    font-family: "Karla", sans-serif;
    margin: 3px 0;
    color: rgba(255, 255, 255, 0.6);
    letter-spacing: 0.05em;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 0px;
}

.sidebar a {
    font-family: "Montserrat", sans-serif;
    color: rgba(255, 255, 255, 0.8);
}
.sidebar a:hover {
    background: rgba(255, 255, 255, 0.15);
}
.sidebar a.active {
    background: rgba(255, 255, 255, 0.2);
}
.sidebar a.disabled-link {
    color: rgba(255, 255, 255, 0.3);
    cursor: default;
}
.sidebar a.disabled-link:not(.active):hover {
    background: none;
}

.sidebar .indented {
    padding-left: 32px;
}

.cardsList {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: calc(100% - 81px - 51px);
    overflow: auto;
    padding: 0 calc((100vw - 270px - 890px) / 2);
}

.cardsList > div {
    width: 250px;
    margin: 20px;
    height: 120px;
    border: 2px solid var(--primary-text-color);
    padding: 5px 10px;
    flex-grow: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
    cursor: pointer;
}

.cardsList > div > div {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#new-card {
    border-style: dashed;
    align-items: center;
}
.cardsList div:hover {
    color: var(--primary-highlight-color);
    border-color: var(--primary-highlight-color);
}

.deckName {
    margin: 0.67em auto;
    max-width: 850px;
    width: calc(100% - 60px);
}

#flipcardTitle {
    font-family: "Karla", sans-serif;
    font-size: 22px;
    grid-area: title;
    height: 52px;
    margin: auto;
    padding: 0;
    background-color: unset;
}

#logoutButton {
    color: var(--secondary-text-color);
    grid-area: logout;
}
#logoutButton:hover {
    color: rgba(255, 255, 255, 1);
}

#flipcardHeader {
    height: 52px;
    display: grid;
    grid-template-columns: 14px auto 8px 24px 8px;
    grid-template-rows: 16px auto 10px;
    grid-template-areas: ". title . . ." ". title . logout ." ". title . . .";
}

#hamburger {
    grid-area: hamburger;
    color: var(--secondary-text-color);
}
#hamburger:hover {
    color: rgba(255, 255, 255, 0.5);
}

.modalClickAway {
    position: absolute;
    width: 100vw;
    height: 100%;
    z-index: 1000;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal {
    position: absolute;
    left: 0;
    top: 0;
    width: 80vw;
    max-width: 1000px;
    height: 80%;
    color: var(--primary-text-color);
    background: var(--primary-background-color);
    margin: calc(3% + 48px + 24px) max(10vw, calc(50vw - 500px));
    z-index: 2000;
    border-radius: 10px;
    -webkit-box-shadow: 0px 3px 2px 2px rgba(84, 84, 84, 0.61);
    -moz-box-shadow: 0px 3px 2px 2px rgba(84, 84, 84, 0.61);
    box-shadow: 0px 3px 2px 2px rgba(84, 84, 84, 0.61);
    display: grid;
    grid-template-columns: auto 250px;
}

.modal.mobile {
    grid-template-columns: auto;
    grid-template-rows: 50px auto;
}

.modal-editor {
    width: 100%;
    height: 100%;
    padding: 0 20px;
    overflow: auto;
}

.modal-stats {
    display: flex;
    flex-direction: column;
    border-left: 1px solid black;
    padding: 20px;
    gap: 8px;
}
.modal.mobile .modal-stats {
    border-left: none;
}

.modal-mobile-header {
    display: grid;
    padding: 6px 0;
    line-height: 38px;
    vertical-align: middle;

    grid-template-columns: 32px auto 200px auto 24px 8px;
    grid-template-areas: ". . tabs . close .";
    gap: 8px;
}

.modal-mobile-tabs {
    grid-area: tabs;
}

.modal-mobile-header .close {
    border: none;
    box-shadow: none;
    color: var(--primary-text-color);
    background: none;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    opacity: 0.75;
    grid-area: close;
}

#loginForm {
    width: 100vw;
    height: 100vh;
    background: var(--secondary-background-color);
    color: var(--secondary-text-color);
    font-size: 22px;
    margin: 0;
}

#loginPassword,
#loginEmail {
    border: none;
    overflow: auto;
    outline: none;
    padding: 0 4px;
    width: 100%;
    margin: 6px 0 0 0;
    font-size: 22px;
    color: var(--primary-text-color);
    background: #fff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none;
}

#gotoSignupText {
    position: absolute;
    bottom: 32px;
    left: calc(50vw - 160px);
    color: rgba(255, 255, 255, 0.6);
    width: 320px;
    font-size: 18px;
    text-align: center;
}

#loginButton {
    display: inline-block;
    border: none;
    margin: 0;
    text-decoration: none;
    background: var(--primary-background-color);
    color: var(--primary-text-color);
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 320px;
    height: 48px;
    position: absolute;
    bottom: 64px;
    left: calc(50vw - 160px);
    font-size: 22px;
    line-height: 48px;
    border-radius: 24px;
}

#loginButton:hover,
#loginButton:focus {
    background: var(--primary-highlight-color);
    color: var(--primary-background-color);
}

#loginLogo {
    width: 80%;
    margin: 0 10%;
}

#mainLoginBody {
    height: 100%;
    width: 100%;
    max-width: 600px;
    padding: 32px;
    margin: 0 auto;
}

@media only screen and (max-width: 866px) {
    .App {
        grid-template-columns: auto;
        grid-template-rows: 52px auto;
        grid-template-areas: "header" "main";
    }

    .dispatcher-alert {
        top: 8px;
        right: 50px;
    }

    .card {
        min-height: calc(100% - 96px - 50px);
    }

    .cardsList {
        overflow: unset;
        height: unset;
    }

    #flipcardHeader {
        grid-template-columns: 14px 24px 14px auto 8px 24px 8px;
        grid-template-areas: ". . . title . . ." ". hamburger . title . logout ." ". . . title . . .";
        color: var(--secondary-text-color);
        background-color: var(--secondary-background-color);
    }

    .modal {
        width: 100vw;
        height: 100vh;
        margin: 0;
        border-radius: 0;

        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        border: none;
    }

    .toolbar {
        width: 100%;
        margin-right: 0;
    }
}

.modal-editor .editor {
    min-height: calc(40vh - 55px);
}

::-webkit-scrollbar {
    width: 14px;
}

/* 4px scroll thumb. 10px margin from right margin */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 14px 14px transparent;
    border: solid 4px transparent;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 14px 14px #bbbbbe;
    border: solid 4px transparent;
    border-radius: 14px;
}

::-webkit-scrollbar-button {
    display: none;
}

.modal-editor .front,
.modal-editor .back {
    width: 100%;
    min-height: 50%;
}

.modal-editor .front {
    padding: 16px 16px 32px 16px;
    border-bottom: 3px dashed var(--primary-text-color);
}
.modal-editor .back {
    padding: 30px 16px 16px 16px;
}

.deckName {
    display: flex;
    align-items: center;
}

.deckName input {
    font: inherit;
    background: unset;
    box-shadow: unset;
    border: 0;
    color: inherit;
    padding: 0;
    flex-grow: 1;
    min-width: 50px;
}

.deckName div {
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    box-shadow: none;
    height: 38px;
    width: 38px;
    color: var(--primary-text-color);
    background: none;
    font-size: 18px;
    border-radius: 19px;
}
.deckName div:hover {
    color: var(--primary-background-color);
    background: var(--primary-highlight-color);
}

.stats {
    margin: 0 auto 15px auto;
    max-width: 850px;
    width: calc(100% - 60px);
    height: 36px;
    display: flex;
    color: var(--light-text-color);
    gap: 20px;
}

@media only screen and (max-width: 420px) {
    .stats {
        gap: 10px;
    }
}

.stats-learned,
.stats-recall,
.stats-strength {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.bar {
    width: 100%;
    margin-bottom: 10px;
    height: 6px;
    border-radius: 3px;
    background: rgb(0, 0, 0, 0.15);
}
.bar .fill {
    height: 6px;
    border-radius: 3px;
}
.stats-learned .bar .fill,
.stats-recall .bar .fill,
.stats-strength .bar .fill {
    background: var(--primary-highlight-color);
}

.MuiMenu-list,
.MuiMenu-paper {
    background: var(--primary-background-color) !important;
    color: var(--primary-text-color) !important;
}

.MuiListItem-root {
    font-family: "Montserrat", sans-serif !important;
}
.MuiListItem-root:hover {
    background: rgba(255, 255, 255, 0.1) !important;
}

.MuiListItem-root svg {
    margin-right: 6px;
}

.markdownRender {
    min-height: 1.3em;
}

.markdownRender img {
    max-width: 100%;
}

.home {
    width: calc(100% - 36px);
    height: calc(100% - 50px);
    margin: 18px;
}
.home-stats {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 32px;
}
.home-stats div {
    margin: 8px;
    padding: 5px 10px;
    font-size: 32px;
    color: var(--primary-highlight-color);
}
.home-stats div .unit {
    color: var(--light-text-color);
}

image {
    max-width: 100%;
}

.login-error {
    margin-top: 16px;
    color: var(--primary-highlight-color);
}

.settings {
    max-width: 480px;
    margin: auto;
    padding: 0 20px;
}
.settings h2 {
    text-align: center;
}
.settings p {
    margin: 16px 0;
    font-size: 16px;
}
button.full-width {
    width: 100%;
    margin: 16px 0;
    display: block;
    color: var(--primary-text-color);
    background: white;
    border: 2px solid var(--primary-text-color);
    border-radius: 10px;
    height: 42px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    cursor: pointer;
}

/* Calendar */
body {
    --smallMargin: 5px;
    --mediumMargin: 15px;
    --largeMargin: 25px;

    --borderSize: 1px;
    --borderRadius: 4px;

    --uiElementHeight: 50px; /* like buttons height */
    --uiElementMediumHeight: 40px; /* like wide buttons height */
    --uiElementSmallHeight: 28px; /* like textBox height */
    --onBack: #ccd2d4;
}

.calendarTitle {
    margin: auto;
    text-align: center;
    padding-bottom: 8px;
    color: var(--light-text-color);
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    /* border: 2px solid red;
    border-bottom: none; */
}

.commitmentCalendarContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(367.5px, 1fr));
    grid-auto-rows: max-content;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    max-height: 350px;
    overflow-y: auto;
    /* border: 2px solid red;
    border-top: none; */
}
.commitmentCalendarContainer {
    margin-top: -18px;
    margin-left: -18px;
    margin-right: -18px;
    padding-left: 18px;
    padding-right: 18px;
}
@media only screen and (max-width: 420px) {
    body {
        --uiElementHeight: 40px;
    }

    .commitmentCalendarContainer {
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    }
    .calendarDay {
        font-size: 0.8em;
    }
}

.calendarWeek {
    width: fit-content;
}

.calendarMonthContainer {
    margin-top: var(--mediumMargin);
    width: fit-content;
    margin-left: auto !important;
    margin-right: auto !important;
}

.calendarMonthTable {
    border-spacing: var(--smallMargin);
}

.calendarDay,
.calendarEmptyDay {
    width: calc(0.85 * var(--uiElementHeight));
    height: calc(0.85 * var(--uiElementHeight));
    margin: var(--mediumMargin);
    text-align: center;
    box-sizing: border-box;
    border-radius: var(--borderRadius);
}

.calendarDay {
    color: var(--text);
    border: 1px solid var(--shadow);
}

.calendarDay:not(.streakFrom):not(.streakMid):not(.streakTo) {
    border: var(--borderSize) solid var(--onBack);
}

.calendarDay.streakMid {
    border-radius: 0;
    border-top-width: 6px;
    border-bottom-width: 6px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-style: double;
}

.calendarDay.streakFrom {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-width: 6px;
    border-bottom-width: 6px;
    border-left-width: 6px;
    border-right-width: 0px;
    border-style: double;
}

.calendarDay.streakTo {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-width: 6px;
    border-bottom-width: 6px;
    border-left-width: 0px;
    border-right-width: 6px;
    border-style: double;
}

.calendarEmptyDay {
    border: 1px solid var(--onBack);
}

.calendarFutureDay {
    border: 1px solid var(--onBack);
    color: var(--onBack) !important;
    background-color: transparent !important;
}
