body {
    margin: 0;
    background: #efefef;
    overflow: hidden;
}

.App {
    display: grid;
    grid-template-columns: auto 270px auto;
    grid-template-rows: 60px 50px 370px 50px 40px auto;
    grid-template-areas: "header header header" ". . ." ". card ." ". . ." ". footer ." ". . .";
    height: 100vh;
}
.footer {
    grid-area: footer;
    display: flex;
    justify-content: space-between;
}

.footer button {
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    color: #333;
    border-width: 2px;
}

.footer .gradeButton {
    width: 40px;
}

.footer .okButton {
    flex-grow: 1;
}

.card {
    width: 200px;
    height: 300px;
    border: 5px solid green;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border: solid 7px #41403e;
}

.card.new {
    border-color: gold;
}

.front {
    background: #b9deed;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

.back {
    background: #b9deed;
    border-radius: 15px 255px 15px 225px/225px 15px 255px 15px;
}

.card-enter {
    opacity: 0.01;
    position: relative;
    right: 600px;
}

.card-enter.card-enter-active {
    opacity: 1;
    right: 0px;
    transition: opacity 300ms ease-out, right 300ms ease-out;
}

.card-leave {
    opacity: 1;
    position: relative;
    left: 0px;
}

.card-leave.card-leave-active {
    opacity: 0.01;
    left: 600px;
    transition: opacity 300ms ease-in, left 300ms ease-in;
}
