.editor {
    width: 100%;
    min-height: 100px;
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    padding-top: 1px;
}

.latex-inline {
    display: inline;
}

.latex-inline .katex {
    font-size: 1.1em;
}

.latex-inline-output {
    display: inline;
}

.editor {
    padding: 16px;
}

.editor.summary .ProseMirror :not(:first-child) {
    display: none;
}

.ProseMirror-focused {
    outline: none;
}

.bubble-menu {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 2px 2px 8px 5px rgba(0, 0, 0, 0.2);
    height: 28px;
}

.bubble-menu button {
    background: white;
    border: none;
    outline: none;
    margin: 0;
    height: 28px;
    width: 28px;
}

.bubble-menu *:first-child {
    border-radius: 8px 0 0 8px;
}
.bubble-menu *:last-child {
    border-radius: 0 8px 8px 0;
}

.bubble-menu *:hover {
    background: #ccc;
}

.bubble-menu button.active {
    color: #c787ff;
}

.bubble-menu select {
    border: none;
    height: 28px;
}

.bubble-menu select:active {
    outline: none;
}

.editor pre {
    background: #0d0d0d;
    border-radius: 0.5rem;
    color: #fff;
    padding: 0.75rem 1rem;
}

.editor pre code {
    background: none;
    color: inherit;
    font-size: 0.9rem;
    padding: 0;
}

.editor code {
    font-family: "JetBrains Mono", monospace;
}

.editor p.is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
}

.editor strong {
    font-weight: 600;
}

.hljs-comment,
.hljs-quote {
    color: #616161;
}

.hljs-variable,
.hljs-template-variable,
.hljs-attribute,
.hljs-tag,
.hljs-name,
.hljs-regexp,
.hljs-link,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
    color: #f98181;
}

.hljs-number,
.hljs-meta,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params {
    color: #fbbc88;
}

.hljs-string,
.hljs-symbol,
.hljs-bullet {
    color: #b9f18d;
}

.hljs-title,
.hljs-section {
    color: #faf594;
}

.hljs-keyword,
.hljs-selector-tag {
    color: #70cff8;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: 700;
}

body {
    margin: 0;
    overflow: hidden;
    font-family: "Montserrat", sans-serif;
    --primary-highlight-color: #ce96ff;
    --primary-text-color: #222831;
    --primary-background-color: #fff;
    --secondary-background-color: #393e46;
    --secondary-text-color: #eee;
    --light-text-color: #393e46;
}

div,
p {
    box-sizing: border-box;
}

p {
    margin: unset;
}

button,
input,
textarea {
    box-sizing: border-box;
    outline: none;
}
